<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <package name="nangu.test.demoapp.domain"/>
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/dao/UserDao.xml"/>
    <mapper resource="mybatis/dao/MessageDao.xml"/>
  </mappers>
</configuration>